.anos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: -40px;
    padding-left: 90px;
    padding-right: 90px;
    color: #ffffff;
}

.descricao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    padding-left: 90px;
    padding-right: 90px;
    color: #ffffff;
    margin-top: -40px;
}

.titulo h1{
    display: flex;
    justify-content: flex-start;
margin-left: 80px;
font-size: 45px;
}