.footer{
    display: flex;
    justify-content: space-around;
    font-size: 42px;
}

.contato{
    display: flex;
    flex-direction: row;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.footer a{
    color: aliceblue !important;
}

.footer li{
    margin-left: 15px;
}

.footer p{
    margin: 25px;
}