.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
margin: 10px;
}

.navbar a{
    color: aliceblue !important;
    text-decoration: none; 
}

.center{
    margin-left: 30rem;
    gap: 30px;
}