.btn{
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border: NONE;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 40px;
    cursor: pointer;
}

.btn:hover{
    color: aliceblue;
    transition-duration: 0.5s;
    transform: translateY(-7px);
}